@import-normalize; //ignore error here 
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600&display=swap");
@import './styles/variables.scss';
@import 'https://fonts.googleapis.com/css?family=Audiowide';

* {
  box-sizing: border-box;
  font-family: Alexandria, sans-serif;
}

html, body {
  margin: 0;
  p, h1 {
    padding: 0;
    margin: 0;
  }
}

html {
  width: 100%;
  background-color: rgb(50, 49, 49);
}

body {
  max-width: $max-width;
  background-color: white;
  margin: $nav-height auto 0;
  padding-top: 10px
}