@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.statistics__card {
  @include card-base-styling;
  margin-top: 0.7rem;

  background-color: rgb(207, 159, 255);
  color: rgb(74, 36, 112);

  &::-webkit-scrollbar {
    display: none;
  }

  .animediv {
    margin-top: -5px;
    padding: 0;
  }
  
  display: flex;
  flex-direction: column;
  gap: 10px;
<<<<<<< HEAD
  padding-bottom: -10px;
=======

  &:hover {
    box-shadow: 5px 5px 12px grey;
    transform: scale(1.05);
  }
>>>>>>> db72096 (format workout item)
  
  &-show {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h2 {
    margin: 0 auto;
    padding-top: 5px;
    font-size: 1.1rem;

  }

  h3 {
    width: 40%;
    margin: 0 auto;
    padding: 0.1em 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px inset rebeccapurple;
  }

  .stat_item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .stat_item-info {
    display: block;
    width: 60%;
    text-align: left !important;
    margin-top: 5px;
    p {
      text-align: left;
    }
    span {
      font-weight: bold;
    }
  }

  h3, p {
    text-align: center;
  }

  .stat_king {
    font-size: 1.5rem;
  }

}

.stat_item--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px 5px;
}

.stat_item {
  padding: 5px;
  &-header {
    margin: 0;
  }
  &-info {
    padding-left: 5px;
    font-size: 0.9em;
  }
  &-empty {
    margin: auto;
    text-align: center;
  }
}

.stat_item-divider {
  border-radius: 50%;
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: rgb(74, 36, 112);
}