@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.statistics__card {
  @include card-base-styling;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  &-show {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h2 {
    margin: 0 auto;
    padding: 5px;
    font-size: 1.1rem;
  }
}

.stat_item--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px 5px;
}

.stat_item {
  padding: 5px;
  &-header {
    margin: 0;
  }
  &-info {
    padding-left: 5px;
    font-size: 0.9em;
  }
  &-empty {
    margin: auto;
    text-align: center;
  }
}

.stat_item-divider {
  border-radius: 50%;
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: $theme-green;
}