@import '../../styles/variables.scss';

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  max-width: $max-width;
  
  &--footer {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -1px 15px rgb(55, 51, 51);
    }
}
