
@import "../../styles/variables.scss";

.toggle__button {

  width: 50%;
  
  color: rgb(45, 45, 45);
  background-color: rgb(162, 162, 162);
  border: none;
  padding: 1rem 1rem;
  font-size: 1.3em;
  font-weight: 500;
  

  &--selected{
    background-color: $theme-green;
    color: white;
  }

}