.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  //avoiding positioning this as fixed automatically as it will be used in several contexts 
}
