@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600&display=swap');

.member__container {
  display: flex;
  gap: 10px;
}

.member__card {
  @include card-base-styling;

  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $theme-blue;
  color: $theme-blue-accent-dark;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .member_item-divider {
    border-radius: 50%;
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: $theme-blue-accent-dark
  }

  &-search {
    // min-height: 3em;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

    .search__input {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    
    .search__results {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 4em;
      li {
        display: flex;
        align-items: center;
        button {
          margin-left: 2px;
          background-color: $theme-blue;
          color: rgb(0, 140, 255);
          .icon {
              :active {
                animation: 0.1s linear 1 spin_90deg;
              }
            }
        }
      }
    }
  }

  h2 {
    margin: 0;
    padding: 5px;
    font-size: 1.1rem;
  }

  h3 {
    margin: 0;
    padding: 5px;
  }

  button {
    background-color: white;
    border: none;
    font-size: 30px;
  }

  em {
    color: $theme-green;
  }

  &-note {
    margin: 0.2em 0;
  }

  input {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px inset grey;
    margin-left: 0.5em;
    height: 1.5rem;
  }
}