@import '../styles/variables.scss';
@import '../styles/mixins.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $theme-green;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $max-width;
  box-shadow: 0px -2px 20px rgb(55, 51, 51);
  height: $nav-height;
  justify-content: space-between;
  float: top;
  z-index: 5;

  .logo {
    @include logo-styling;
    margin: auto 1em;
    font-size: 2em;
  }

  .user {
    display: flex;
    flex-direction: row;

    * {
      margin: auto 0.1em;
    }

    p {
      font-size: 0.8em;
    }

    .username {
      font-weight: bold;
      font-size: 1.2em;
    }

    button {
      color: inherit;
      font-size: 1.5rem;
      background-color: inherit;
      border: none;
    }
  }
}