@import "../../styles/variables.scss";

.walkthrough {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1em;
  margin-top: 2rem;
  text-align: center;

  button {
    font-size: 1.8em;
    border-radius: 12px;
    height: 1.8em;
    width: 1.8em;
  }

  &--container {
    margin-top: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .divider {
      width: 65%;
      height: 3px;
      background-color: $theme-green;
      border-radius: 3px;
      border: 0.5px solid white;
    }

    h1 {
      display: inline-block;
      margin-top: 1em;
    }

    .bottom {
      position: fixed;
      margin: 60px auto auto 0;
      border: none;
      bottom: 0;
      width: 100%;
      padding: 1rem 1rem;
      font-size: 1.3em;
      background-color: $danger-color;
      max-width: $max-width;
      color: white;
      box-shadow: 0px -2px 10px rgba(128, 128, 128, 0.656);

      &-cancel {
        background-color: $danger-color;
      }

      &-save {
        background-color: $theme-green;
      }
    }
  }

  &--exercise {
    height: calc((100%) - 60px);
    width: 100%;
    margin: 0 1rem;
    margin-bottom: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 2px 2px 40px rgba(128, 128, 128, 0.656);
    background-color: white;


    &-header {

    div {
      font-weight: 300;
    }

    h2 {
      margin: 1em 1em 0.3rem 1em;
      padding: 5px 10px;
      border-radius: 10px;
      box-shadow: 2px 2px 6px inset rgba(128, 128, 128, 0.656);
    }


  }

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: $theme-green;
    color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 1em 1em;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.656);

    &-yellow {
      background-color: $edit-color;
    }

    &-red {
      background-color: $danger-color;
    }
  }



    .exercise__card-left {
      width: 70%;
      padding-top: 0.5rem;
      max-width: 300px;
      text-align: center;
      align-items: center;
      .icon {
        padding: 2rem;
        font-size: 8rem;
      }
    }

    .setbased {
      font-size: 1.7rem;
      border-radius: 10px;
      display: inline-block;
      font-weight: 300;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      box-shadow: 2px 2px 6px inset rgba(128, 128, 128, 0.656);

      span {
        font-weight: bold;
      }

    }

  }

  .note {
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 1rem 1rem 1rem;

    span {
      font-weight: 500;
    }

  }

  
}

