$theme-green: #209011;
$danger-color: rgba(226, 59, 8, 0.788);
$edit-color: rgb(233, 186, 13);
$max-width: 430px;
$nav-height: 50px;
$theme-blue: #badcfd;
$theme-blue-accent-light: rgb(0, 140, 255);
$theme-blue-accent-dark: rgb(0, 70, 127);
